<!-- Menu -->
<nav class="navbar navbar-expand-md menu-govco" aria-label="Ejemplo Menú de navegación" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link dir-menu-govco" aria-current="page" href="javascript:void(0)"><span>Inicio</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link dir-menu-govco" href="javascript:void(0)">
            <span>Transparencia</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <button class="nav-link dir-menu-govco dropdown-toggle" id="navbarDropdownMenuLink1"   type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span>Atención y Servicios a la ciudadanía</span>
          </button>
          <div class="dropdown-menu col-2-menu-govco dropdown-menu-md-center-govco" aria-labelledby="navbarDropdownMenuLink1" role="menu">
            <ul title="Nombre sección interna 1">
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            </ul>
            <ul title="Nombre sección interna 2">
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            </ul>
          </div>
        </li>
        <!-- <li class="nav-item dropdown" >
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2"   type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span>Participa</span>
          </button>
          <div class="dropdown-menu col-3-menu-govco dropdown-menu-end dropdown-menu-xl-center-govco" aria-labelledby="navbarDropdownMenuLink2" role="menu">
            <ul title="Nombre sección interna 1">
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            </ul>
            <ul title="Nombre sección interna 2">
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            </ul>
            <ul title="Nombre sección interna 3">
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            </ul>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link dir-menu-govco" href="javascript:void(0)">
            <span>Participa</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link dir-menu-govco" href="javascript:void(0)">
            <span>Datos y cifras</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link dir-menu-govco" href="javascript:void(0)">
            <span>Documentos e investigaciones</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link dir-menu-govco" href="javascript:void(0)">
            <span>Estados de cosas inconstitucional</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link dir-menu-govco" href="javascript:void(0)">
            <span>Observatorio</span>
          </a>
        </li>

        <!-- <li class="nav-item position-static">
          <button class="nav-link" id="navbarDropdownMenuLink3"   type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span>Datos y cifras</span>
          </button>
          <div class="dropdown-menu megamenu-menu-govco" aria-labelledby="navbarDropdownMenuLink3" role="menu">
            <ul title="Nombre sección interna 1">
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            </ul>
            <ul title="Nombre sección interna 2">
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            </ul>
            <ul title="Nombre sección interna 3">
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            </ul>
            <ul title="Nombre sección interna 4">
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink4"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span>Documentos e investigaciones</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-xl-start" aria-labelledby="navbarDropdownMenuLink4" role="menu">
            <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink5"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span>Estados de cosas inconstitucional</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink5" role="menu">
            <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button class="nav-link dropdown-toggle" id="navbarDropdownMenuLink5"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span>Observatorio</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink5" role="menu">
            <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)">Trámites</a></li>
          </ul>
        </li> -->
        <!-- Item para el menú extenido -->
        <li class="nav-item dropdown ext-menu-govco d-lg-none d-xl-none d-xxl-none">
          <button class="nav-link dropdown-toggle btn-menu-govco d-none d-md-block" id="navbarDropdownMenuLink6" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="icon-menu-govco"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink6" role="menu">
          </ul>
        </li>
      </ul>
      <div class="container-search-menu d-md-none">
        <!-- Buscador -->
        <div class="d-flex flex-column justify-content-center">
          <div class="govco-search-basic">
            <div class="container-govco d-flex" id="containter-default2">
              <input type="text" class="input-search-basic-govco" id="input-basic2" placeholder="Buscar por componente" aria-label="buscar por componente">
              <button class="btn-clean-basic-govco me-2" type="button" id="btn-clean-basic2" aria-label="Limpiar"><span class="govco-svg govco-times"></span></button>
              <div class="line-basic-govco"></div>
              <button class="btn-search-basic-govco" type="button"><span class="govco-svg govco-search" aria-hidden="true"></span></button>
            </div>
          </div>
        </div>
        <!-- Buscador -->
      </div>
    </div>
  </div>
</nav>
<!-- Menu -->
