<form [formGroup]="form" class="container-pass">
  <div class="container-input">
    <label for="password">Nueva contraseña</label>
    <div class="password-wrapper">
      <input id="password" class="form-go-input" [type]="passwordFieldType" formControlName="password">
      <button type="button" class="btn-pass-view" (click)="togglePasswordFieldVisibility()">
        <!-- <fa-icon [icon]="passwordFieldType === 'password' ? faEye : faEyeSlash"></fa-icon> -->
      </button>
    </div>
      <div class="list-valid">
        <ul>
          <!-- <li> <fa-icon [class.valid]="passwordRequirements.minLength" [icon]="faCircleCheck"></fa-icon> <span [class.valid]="passwordRequirements.minLength">Minimo 8 caracteres.</span></li>
          <li> <fa-icon [class.valid]="passwordRequirements.hasUpperCase" [icon]="faCircleCheck"></fa-icon> <span [class.valid]="passwordRequirements.hasUpperCase">Contiene una letra mayúscula</span></li>
          <li> <fa-icon [class.valid]="passwordRequirements.hasLowerCase" [icon]="faCircleCheck"></fa-icon> <span [class.valid]="passwordRequirements.hasLowerCase">Contiene una letra minúscula</span></li>
          <li> <fa-icon [class.valid]="passwordRequirements.hasNumeric" [icon]="faCircleCheck"></fa-icon> <span [class.valid]="passwordRequirements.hasNumeric">Contiene un número</span></li>
          <li> <fa-icon [class.valid]="passwordRequirements.hasSpecial" [icon]="faCircleCheck"></fa-icon> <span [class.valid]="passwordRequirements.hasSpecial" >Contiene un carácter especial</span></li> -->
        </ul>
      </div>
  </div>
  <div class="container-input">
    <label for="confirmPassword">Confirmar contraseña</label>
    <div class="password-wrapper">
      <input id="confirmPassword" class="form-go-input" [type]="confirmPasswordFieldType" formControlName="confirmPassword">
      <button type="button" class="btn-pass-view" (click)="toggleConfirmPasswordFieldVisibility()">
        <!-- <fa-icon [icon]="confirmPasswordFieldType === 'password' ? faEye : faEyeSlash"></fa-icon> -->
      </button>
    </div>
    @if (form.errors?.['notMatching'] && form.get('confirmPassword')?.touched) {
    <div>
      <small class="error">La contraseña no coincide</small>
    </div>
    }
  </div>
</form>
