<header class="cabecera-govco">
  <!-- Barra Superior -->
  <div class="barra-superior-govco">
    <a href="https://www.gov.co/" target="_blank" rel=noopener aria-label="Portal del Estado Colombiano - GOV.CO"></a>
    <button class="idioma-btn-barra-superior-govco" aria-label="Button to change the language of the page to English">
    </button>
  </div>
  <div class="barra-inferior-govco barra-inferior-desktop">
    <div class="barra-logos-govco">
      <!-- Buscador -->
      <a class="logo_ministerio" target="_blank" rel=noopener aria-label="MINJUSTICIA"></a>
      <!-- Buscador -->
      <div class="d-flex flex-column justify-content-center d-none d-md-block" style="width: 350px;">
        <div class="govco-search-basic">
          <div class="container-govco d-flex" id="containter-default">
            <input type="text" class="input-search-basic-govco" id="input-basic" placeholder="Buscar por componente"
              aria-label="buscar por componente">
            <button class="btn-clean-basic-govco me-2" type="button" id="btn-clean-basic" aria-label="Limpiar"><span
                class="govco-svg govco-times"></span></button>
            <div class="line-basic-govco"></div>
            <button class="btn-search-basic-govco" type="button"><span class="govco-svg govco-search"
                aria-hidden="true"></span></button>
          </div>
        </div>
      </div>
      <!-- Menu responsive -->
      <button class="navbar-toggler btn-menu-govco d-md-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="icon-menu-govco"></span>
      </button>
      <!-- Menu responsive -->
    </div>

  </div>
  <div class="border-bottom-govco d-md-none"></div>
</header>
