<nav aria-label="Miga de pan predeterminada de tres niveles" class="breadcrumb-nav-govco">
  <ul class="breadcrumb-govco">
      <li class="breadcrumb-item-govco"><a href="#">Inicio</a></li>
      <li class="breadcrumb-item-govco"><a href="#">Miga sección anterior</a></li>
      <li class="breadcrumb-item-govco active" aria-current="page">Sección actual</li>
  </ul>
</nav>

<!-- <nav aria-label="Miga de pan invertida de dos niveles" class="breadcrumb-nav-govco">
  <ul class="breadcrumb-govco inverted">
      <li class="breadcrumb-item-govco invested"><a href="#">Inicio</a></li>
      <li class="breadcrumb-item-govco invested active" aria-current="page">Sección actual</li>
  </ul>
</nav> -->
