<div class="container-input">
  <label [for]="field().item">{{field().label}}</label>
  <div class="password-wrapper">
  <input
    class="form-go-input"
    [id]="field().item"
    [type]="passwordFieldType"
    [placeholder]="field().placeholder"
    [value]="value"
    (input)="updateValue($event)"/>
    <button type="button" class="btn-pass-view" (click)="togglePasswordFieldVisibility()">
      <!-- <fa-icon [icon]="passwordFieldType === 'password' ? faEye : faEyeSlash"></fa-icon> -->
    </button>
  </div>
</div>
