
.container-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  label {
    font-weight: 600;
    font-size: 14px;
  }
  .password-wrapper {
    width: 100%;
    position: relative;
    .btn-pass-view {
      position: absolute;
      right: 10px;
      bottom: 10px;
      top: 12px;
      background-color: transparent;
      border: none;
      color: gray;
      font-size: 20px;
    }
  }
  .form-go-input {
    height: 48px;
    border: 1px solid var(--primary-default);
    border-radius: 8px;
    width: 100%;
    margin: 10px 0;
    padding: 8px 16px;
    box-sizing: border-box;
    &:hover {
      border: 2px solid var(--secondary-dark);
    }
  }
}
