<div class="position-fixed top-50 translate-middle-y" style="right: 0; z-index: 1200;">
  <!-- Component -->
  <div class="barra-accesibilidad-govco d-none d-lg-flex">
    <button class="contrast" aria-label="Cambiar contraste">
      <span class="govco-contrast"></span>
    </button>
    <button class="decrease-font-size" aria-label="Disminuir letra" data-decrease-limit="-5">
      <span class="govco-font-minimize"></span>
    </button>
    <button class="increase-font-size" aria-label="Aumentar letra" data-increase-limit="5">
      <span class="govco-font-maximize"></span>
    </button>
  </div>
  <!-- Component -->
</div>
